.notify {
  padding: 0.5rem;
}

table {
  margin-bottom: 1rem;
  width: 100%;
}

th {
  background-color: hsl(0, 0%, 85%);
  padding: 0.25rem;
}

td {
  background-color: hsl(0, 0%, 95%);
  padding: 0.25rem;
}

select,
button {
  padding: 0.2rem;
}

input {
  padding: 0.2rem;
  width: 100%;
  box-sizing: border-box;
}

.led {
  border-radius: 50%;
  width: 0.75em;
  height: 0.75em;
  vertical-align: middle;
  display: inline-block;
}

.red-led {
  background-color: red;
}

.green-led {
  background-color: greenyellow;
}

button.active {
  background-color: lightblue;
  border-style: ridge;
  border-width: 2px;
  border-radius: 3px;
}

.row {
  display: flex;
  flex-direction: row;
}