/* color palette from <https://github.com/vuejs/theme> */
:root {
  --pasta-white: #ffffff;
  --pasta-white-soft: #f8f8f8;
  --pasta-white-mute: #f2f2f2;

  --pasta-black: #181818;
  --pasta-black-soft: #222222;
  --pasta-black-mute: #282828;

  --pasta-indigo: #2c3e50;

  --pasta-divider-light-1: rgba(60, 60, 60, 0.29);
  --pasta-divider-light-2: rgba(60, 60, 60, 0.12);
  --pasta-divider-dark-1: rgba(84, 84, 84, 0.65);
  --pasta-divider-dark-2: rgba(84, 84, 84, 0.48);

  --pasta-text-light-1: var(--pasta-indigo);
  --pasta-text-light-2: rgba(60, 60, 60, 0.66);
  --pasta-text-dark-1: var(--pasta-white);
  --pasta-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--pasta-white);
  --color-background-soft: var(--pasta-white-soft);
  --color-background-mute: var(--pasta-white-mute);

  --color-border: var(--pasta-divider-light-2);
  --color-border-hover: var(--pasta-divider-light-1);

  --color-heading: var(--pasta-text-light-1);
  --color-text: var(--pasta-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--pasta-black);
    --color-background-soft: var(--pasta-black-soft);
    --color-background-mute: var(--pasta-black-mute);

    --color-border: var(--pasta-divider-dark-2);
    --color-border-hover: var(--pasta-divider-dark-1);

    --color-heading: var(--pasta-text-dark-1);
    --color-text: var(--pasta-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


button, select, input {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  border-radius: 3px;
  color: darkslategray;
  background-color:aliceblue;
  border: 1px solid darkslategray;
}

button, select {
  cursor: pointer;
}

button {
  padding: 1px 6px;
}