@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 2rem;
  }
}

.clickable {
  cursor: pointer;
}

.hidden {
  display: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-justify {
  justify-content: space-between;
}

.flex-justify > * {
  margin: 0px 6px;
}